@font-face
{
    font-family: 'Ubuntu';
    src: url('fonts/Ubuntu-Light.ttf');
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #d9e7f1;
}

.card
{
    position: relative;
    width: 320px;
    height: 430px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 25px 25px 50px rgba(9, 148, 255, 0.1),
    -10px -10px 30px rgba(9, 148, 255, 0.1);
}


.image-box
{
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    padding: 20px;
    border-radius: 6px;
}

.img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}

.card-1
{
    width: 100%;
    padding: 30px 20px;
    /*display: grid;*/
    place-items: center;
}

.card1 h3
{
    color: #329ff1;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
}

.card1 p
{
    color: #333;
    text-transform: initial;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    padding-top: 5px;
}

.bar
{
    position: relative;
    display: flex;
    justify-content: center;
}

li
{
    list-style: none;
}
.m1
{
    width: 35px;
    height: 35px;
    margin-top: 30px;
    border: 1px #fff solid;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 5px 5px 10px rgba(9, 148, 255, 0.25),
    -2px -2px 5px rgba(9, 148, 255, 0.05);
}

#m2
{
    margin-left: 30px;
}