@font-face
{
    font-family: 'Ubuntu';
    src: url('fonts/Ubuntu-Light.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    max-width: 1300px;
    background-color: #d9e7f1;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 320px;
    height: 450px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 25px 25px 50px rgba(9, 148, 255, 0.1),
    -10px -10px 30px rgba(9, 148, 255, 0.1);
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 300px;
    overflow: hidden;
    padding: 0 20px;
    border-radius: 6px;
}

.header img {
    width: 100%;
    height: 90%;
    background-size: cover;
    border-radius: 6px;
}

.bio {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.bio h3 {
    color: #329ff1;
    text-transform: uppercase;
    font-weight: 600;
}

.bio p {
    color: #333;
    font-weight: 500;
    font-size: 1rem;
    padding-top: 5px;
}

.social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    list-style: none;
}

.social-media li {
    padding: 0 1rem;
}

.social-media img {
    width: 50px;
    height: 50px;
    border: 1px #fff solid;
    border-radius: 1rem;
    padding: 10px;
    box-shadow: 5px 5px 10px rgba(9, 148, 255, 0.25),
    -2px -2px 5px rgba(9, 148, 255, 0.05);
}
